@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-red-400: #F45D5B;
  --color-red-500: #EE312E;
  --color-red-600: #C21D1A;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-gradient-red {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-red-600;
  }
}